<span>
    {{ range .Site.Params.hero.socialLinks.fontAwesomeIcons }}
    <span class="px-1">
        {{ if .rel }}
        <a href="{{ .url }}" rel={{ .rel }} target="_blank" class="btn social-icon">
        {{ else }}
        <a href="{{ .url }}" target="_blank" class="btn social-icon">
        {{ end }}
            <i class="{{ .icon }}"></i>
        </a>
    </span>
    {{ end }}

    {{ range .Site.Params.hero.socialLinks.customIcons }}
    <span class="px-1">
        {{ if .rel }}
        <a href="{{ .url }}" rel={{ .rel }} target="_blank" class="btn social-icon">
        {{ else }}
        <a href="{{ .url }}" target="_blank" class="btn social-icon">
        {{ end }}
            <img src="{{ .icon }}">
        </a>
    </span>
    {{ end }}
</span>
